<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
</head>
<body>
	{{> header}}
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum molestiae deserunt commodi explicabo sint, eligendi iste cupiditate. Autem nesciunt, suscipit fugiat, atque provident sapiente magni. Fugiat, delectus. Inventore, voluptatem, magnam!
	</p>
	{{> footer}}
</body>
</html>